# App
spring.application.name=campusride

# MySQL - Replace with your values
spring.datasource.url=jdbc:mysql://localhost:3306/campusride_db
spring.datasource.username=root
spring.datasource.password=YOUR_PASSWORD_HERE

# JPA
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.open-in-view=false

# Port
server.port=8081